*:focus {
    outline: none;
}

#container {
    width: 960px;
    margin: 30px auto;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    letter-spacing: -2px;
    border-bottom: 1px solid #dbdbdb;
}

h3 {
    font-size: 32px;
    line-height: 42px;
}

h4 {
    font-size: 26px;
    line-height: 32px;
}

blockquote {
    border-left: 5px solid #555;
    margin-left: -15px;
    padding-left: 15px;
    font-style: italic;
    color: #555;
}
